<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
        <h1>Listing for Event</h1>
        <f:flashMessages />
        <table class="tx_nsmadhav">
            <tr>
                <th><f:translate key="tx_nsmadhav_domain_model_price.title" /></th>
            </tr>
            
            <f:for each="{prices}" as="event">
                            
                    <td><f:link.action  pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.title}</f:link.action></td>
                
                </tr>
            </f:for>
        </table>
        
        
</f:section>

</html>
